body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
}

.items {
  width: 90%;
  height: 300px;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  cursor: grab;
  user-select: none;
}

.items.active {
  cursor: grabbing;
}

.item {
  flex-shrink: 0;          /* VERY IMPORTANT */
  width: 300px;
  height: 100%;
  background: dodgerblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: white;
  border-radius: 10px;
}
