body {
  margin: 0;
  padding: 0;
}

.items {
  width: 100%;
  height: 300px;
  display: flex;
  overflow-x: auto;
  cursor: grab;
}

.items.active {
  cursor: grabbing;
}

.item {
  flex-shrink: 0;
  width: 300px;
  height: 100%;
  background: steelblue;
  margin-right: 20px;
  color: white;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
